<app-demo-nav>
  <mat-nav-list class="nav">
    <a mat-list-item routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">home</a>
    <a mat-list-item routerLink="card" routerLinkActive="active-link">card</a>
    <a mat-list-item routerLink="card-list" routerLinkActive="active-link">card-list</a>
    <a mat-list-item routerLink="layout" routerLinkActive="active-link">layout</a>
    <a mat-list-item routerLink="tricks" routerLinkActive="active-link">tricks</a>
  </mat-nav-list>



  <router-outlet class="main"></router-outlet>
</app-demo-nav>
